<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div
      class="container-lg align-items-center py-3 py-lg-4 px-lg-10 rounded-pill"
    >
      <h1 class="mb-0 me-lg-6">
        <a class="navbar-brand d-block" href="#">Learning</a>
      </h1>
      <ul class="navbar-nav align-items-center d-lg-none flex-row">
        <li>
          <a href="#" class="nav-link px-3 py-2">
            <i class="bi bi-bell fs-6"></i>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link px-3 py-2">
            <i class="bi bi-cart3 fs-6"></i>
          </a>
        </li>
        <li>
          <button
            class="navbar-toggler border border-0 p-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div
          class="d-flex flex-column flex-lg-row justify-content-between w-100"
        >
          <div class="d-block d-lg-none">
            <ul class="p-3 d-flex flex-column list-unstyled mb-14">
              <li>
                <a class="dropdown-item py-3 px-6" href="#">探索全部</a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >音樂<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >攝影<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >程式<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >程式<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >藝術<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >人文<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >行銷<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >投資理財<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >心靈成長<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >職場技能<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
              <li>
                <a
                  class="dropdown-item d-flex justify-content-between py-3 px-6"
                  href="#"
                  >生活品味<i class="bi bi-caret-right-fill d-block"></i
                ></a>
              </li>
            </ul>
            <div class="py-3 px-6 border-top border-neutral40">
              <a
                role="button"
                href="#"
                class="btn btn-primary100 py-4 px-8 ls-xs-fs-7 d-block d-lg-inline-block"
              >
                登入/註冊
              </a>
            </div>
          </div>

          <ul class="navbar-nav align-items-center d-none d-lg-flex">
            <li class="dropdown mx-6">
              <a
                class="nav-link dropdown-toggle fw-normal ls-xs-fs-7"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                探索
              </a>
              <ul class="dropdown-menu p-3">
                <li>
                  <a class="dropdown-item py-3 px-6" href="#">探索全部</a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >音樂<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >攝影<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >程式<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >程式<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >藝術<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >人文<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >行銷<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >投資理財<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >心靈成長<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >職場技能<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex justify-content-between py-3 px-6"
                    href="#"
                    >生活品味<i class="bi bi-caret-right-fill d-block"></i
                  ></a>
                </li>
              </ul>
            </li>
            <li>
              <form
                class="navbar-search d-flex align-items-center border border-neutral40 p-2 rounded-4"
                role="search"
              >
                <i class="bi bi-search d-block"></i>
                <input
                  class="form-control me-2 border border-0 shadow-none"
                  type="search"
                  placeholder="搜尋各種音樂、數學、程式及設計課程"
                  aria-label="Search"
                />
                <button
                  class="btn btn-primary100 py-3 px-4 text-nowrap ls-xs-fs-7"
                  type="submit"
                >
                  搜尋
                </button>
              </form>
            </li>
          </ul>
          <ul class="navbar-nav align-items-center d-none d-lg-flex">
            <li class="me-4">
              <a href="#" class="nav-link px-3 py-2">
                <i class="bi bi-bell fs-6"></i>
              </a>
            </li>
            <li class="me-4">
              <a href="#" class="nav-link px-3 py-2">
                <i class="bi bi-cart3 fs-6"></i>
              </a>
            </li>
            <li>
              <a
                role="button"
                href="#"
                class="btn btn-primary100 py-4 px-8 ls-xs-fs-7 d-block d-lg-inline-block"
              >
                登入/註冊
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
