<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning｜首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner mb-lg-15">
      <div class="swiper banner-swiper">
        <div class="swiper-wrapper position-relative">
          <div class="swiper-slide">
            <div
              class="banner-content d-flex flex-column justify-content-end h-100"
              style="
                background: center / cover no-repeat
                  url(../assets/images/hero-1.png);
              "
            >
              <div class="container">
                <div
                  class="d-flex align-items-center-inline-block rounded-pill bg-light py-2 px-6 p-lg-4 mb-12 mb-lg-8 lh-base lh-lg-sm"
                >
                  <span
                    class="bg-primary10 rounded-pill py-2 px-3 d-inline-block text-nowrap me-2 fs-8"
                    >熱銷課程 🔥</span
                  >
                  <p class="mb-0 d-inline-block fs-8 fs-lg-6">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
              <div class="link-wrap">
                <a
                  href="#"
                  class="banner-link bg-primary100 mb-0 link-light text-center text-lg-start py-4 py-lg-8 d-block d-lg-inline-block ps-lg-18 pe-lg-16 text-decoration-none fs-8 fs-lg-2"
                >
                  探索感興趣的課程，今天立即上課<i
                    class="bi bi-arrow-right ms-4"
                  ></i>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="banner-content d-flex flex-column justify-content-end h-100"
              style="
                background: center / cover no-repeat
                  url(../assets/images/hero-2.png);
              "
            >
              <div class="container">
                <div
                  class="d-flex align-items-center d-lg-inline-block rounded-pill bg-light py-2 px-6 p-lg-4 mb-12 mb-lg-8 lh-base lh-lg-sm fw-semibold"
                >
                  <span
                    class="bg-primary10 rounded-pill py-2 px-3 d-inline-block text-nowrap me-2 fs-8"
                    >熱銷課程 🔥</span
                  >
                  <p class="mb-0 d-inline-block fs-8 fs-lg-6">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
              <div class="link-wrap">
                <a
                  href="#"
                  class="banner-link bg-primary100 mb-0 link-light text-center text-lg-start py-4 py-lg-8 d-block d-lg-inline-block ps-lg-18 pe-lg-16 text-decoration-none fw-semibold fs-8 fs-lg-2"
                >
                  探索感興趣的課程，今天立即上課<i
                    class="bi bi-arrow-right ms-4"
                  ></i>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="banner-content d-flex flex-column justify-content-end h-100"
              style="
                background: center / cover no-repeat
                  url(../assets/images/hero-3.png);
              "
            >
              <div class="container">
                <div
                  class="d-flex align-items-center d-lg-inline-block rounded-pill bg-light py-2 px-6 p-lg-4 mb-12 mb-lg-8 lh-base lh-lg-sm fw-semibold"
                >
                  <span
                    class="bg-primary10 rounded-pill py-2 px-3 d-inline-block text-nowrap me-2 fs-8"
                    >熱銷課程 🔥</span
                  >
                  <p class="mb-0 d-inline-block fs-8 fs-lg-6">
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </p>
                </div>
              </div>
              <div class="link-wrap">
                <a
                  href="#"
                  class="banner-link bg-primary100 mb-0 link-light text-center text-lg-start py-4 py-lg-8 d-block d-lg-inline-block ps-lg-18 pe-lg-16 text-decoration-none fw-semibold fs-8 fs-lg-2"
                >
                  探索感興趣的課程，今天立即上課<i
                    class="bi bi-arrow-right ms-4"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute bottom-0 z-3 mb-14 w-100 d-lg-none">
          <div
            class="banner-pagination d-flex justify-content-center mb-4"
          ></div>
        </div>
        <div class="d-none d-lg-block">
          <div
            class="banner-btn-prev rounded-3 bg-light position-absolute top-50 z-1"
          >
            <a
              class="btn btn-outline-primary100 p-0 border border-0"
              href="#"
              role="button"
            >
              <i
                class="bi bi-arrow-left-short d-inline-block p-4 fs-5 lh-xs"
              ></i>
            </a>
          </div>
          <div
            class="banner-btn-next rounded-3 bg-light position-absolute top-50 z-1"
          >
            <a
              class="btn btn-outline-primary100 p-0 border border-0"
              href="#"
              role="button"
            >
              <i
                class="bi bi-arrow-right-short d-inline-block p-4 fs-5 lh-xs"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="course">
      <div class="container py-16 py-lg-18 position-relative">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="fw-bold fw-lg-semibold fs-1 ls-xs-fs-1">火熱募資課程</h2>
            <p class="course-text mb-6 mb-lg-10 fw-medium fw-lg-normal fs-6">
              現在購買最優惠✨
            </p>
            <ul
              class="d-flex flex-lg-wrap list-unstyled overflow-auto overflow-lg-visible row-gap-lg-3 column-gap-2 column-gap-lg-3 mb-lg-10"
            >
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >全部</a
                >
              </li>
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >🍽️ 烹飪料理</a
                >
              </li>
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >📊 數據分析</a
                >
              </li>
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >🎼 音樂製作</a
                >
              </li>
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >📝 創意寫作</a
                >
              </li>
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >💬 語言學習</a
                >
              </li>
              <li
                class="py-3 px-4 btn btn-outline-neutral40 rounded-3 text-nowrap"
              >
                <a
                  href="#"
                  class="text-reset text-decoration-none fw-normal ls-xs-fs-7"
                  >🖌️ 藝術創作</a
                >
              </li>
            </ul>
            <button
              class="d-none d-lg-inline-block btn btn-primary100 rounded-3 py-4 px-8 ls-xs-fs-7"
            >
              更多募資課程
            </button>
          </div>
          <div class="col-lg-8">
            <div class="swiper course-swiper">
              <div class="swiper-wrapper flex-lg-wrap row-gap-lg-6">
                <div class="swiper-slide">
                  <div class="">
                    <a
                      href="#"
                      class="d-block card text-decoration-none shadow-lg"
                    >
                      <img
                        src="../assets/images/course-4.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-img-overlay">
                        <p
                          class="d-inline-block py-2 px-3 bg-primary10 text-primary100 rounded-pill fs-8 ls-xs-fs-8"
                        >
                          優惠倒數 10 天
                        </p>
                      </div>
                      <div class="card-body py-6">
                        <h5 class="card-title fs-6 ls-xs-fs-6 lh-lg-sm fw-bold fw-lg-semibold">
                          創意寫作工坊：從靈感到出版的全過程
                        </h5>
                        <div class="d-flex align-items-center mb-6">
                          <img
                            src="../assets/images/avatar-2.png"
                            alt="card-img"
                            class="card-img-rounded me-2"
                          />
                          <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                          <p class="text-primary100 ls-xs-fs-7 fw-bold fw-lg-semibold">
                            募資進度 81 %
                          </p>
                          <p class="fs-8 fw-normal ls-xs-fs-8 text-neutral80">
                            已有 521 位同學加入
                          </p>
                        </div>
                        <div
                          class="progress mb-2"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="100"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <div class="d-flex column-gap-2">
                          <p class="fs-6 lh-lg-sm ls-xs-fs-6-lg ">NT$ 2,480</p>
                          <p
                            class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                          >
                            NT$ 3,200
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div>
                    <a
                      href="#"
                      class="d-block card text-decoration-none shadow-lg"
                    >
                      <img
                        src="../assets/images/course-1.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-img-overlay">
                        <p
                          class="d-inline-block py-2 px-3 bg-primary10 text-primary100 rounded-pill fs-8 ls-xs-fs-8"
                        >
                          優惠倒數 17 天
                        </p>
                      </div>
                      <div class="card-body py-6">
                        <h5 class="card-title fs-6 ls-xs-fs-6 lh-lg-sm fw-bold fw-lg-semibold">
                          健康廚房：營養均衡的素食料理指南
                        </h5>
                        <div class="d-flex align-items-center mb-6">
                          <img
                            src="../assets/images/avatar-5.png"
                            alt="card-img"
                            class="card-img-rounded me-2"
                          />
                          <p class="fw-normal ls-xs-fs-7">希姐帶你吃</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                          <p class="text-primary100 ls-xs-fs-7 ffw-bold fw-lg-semibold">
                            募資進度 281 %
                          </p>
                          <p class="fs-8 fw-normal ls-xs-fs-8 text-neutral80">
                            已有 1,397 位同學加入
                          </p>
                        </div>
                        <div
                          class="progress mb-2"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="100"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <div class="d-flex column-gap-2">
                          <p class="fs-6 lh-lg-sm ls-xs-fs-6-lg ">NT$ 1,680</p>
                          <p
                            class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                          >
                            NT$ 2,980
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div>
                    <a
                      href="#"
                      class="d-block card text-decoration-none shadow-lg"
                    >
                      <img
                        src="../assets/images/course-2.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-img-overlay">
                        <p
                          class="d-inline-block py-2 px-3 bg-primary10 text-primary100 rounded-pill fs-8 ls-xs-fs-8"
                        >
                          優惠倒數 9 天
                        </p>
                      </div>
                      <div class="card-body py-6">
                        <h5 class="card-title fs-6 ls-xs-fs-6 lh-lg-sm fw-bold fw-lg-semibold">
                          音樂製作入門：從零開始創作你的音樂
                        </h5>
                        <div class="d-flex align-items-center mb-6">
                          <img
                            src="../assets/images/avatar-6.png"
                            alt="card-img"
                            class="card-img-rounded me-2"
                          />
                          <p class="fw-normal ls-xs-fs-7">K.Dee</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                          <p class="text-primary100 ls-xs-fs-7 fw-bold fw-lg-semibold">
                            募資進度 76 %
                          </p>
                          <p class="fs-8 fw-normal ls-xs-fs-8 text-neutral80">
                            已有 420 位同學加入
                          </p>
                        </div>
                        <div
                          class="progress mb-2"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="100"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <div class="d-flex column-gap-2">
                          <p class="fs-6 lh-lg-sm ls-xs-fs-6-lg ">NT$ 2,680</p>
                          <p
                            class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                          >
                            NT$ 3,200
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div>
                    <a
                      href="#"
                      class="d-block card text-decoration-none shadow-lg"
                    >
                      <img
                        src="../assets/images/course-3.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-img-overlay">
                        <p
                          class="d-inline-block py-2 px-3 bg-primary10 text-primary100 rounded-pill fs-8 ls-xs-fs-8"
                        >
                          優惠倒數 1 天
                        </p>
                      </div>
                      <div class="card-body py-6">
                        <h5 class="card-title fs-6 ls-xs-fs-6 lh-lg-sm fw-bold fw-lg-semibold">
                          掌握商業攝影：打造你的專業攝影事業
                        </h5>
                        <div class="d-flex align-items-center mb-6">
                          <img
                            src="../assets/images/avatar-7.png"
                            alt="card-img"
                            class="card-img-rounded me-2"
                          />
                          <p class="fw-normal ls-xs-fs-7">Mikeeee</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                          <p class="text-primary100 ls-xs-fs-7 fw-bold fw-lg-semibold">
                            募資進度 98 %
                          </p>
                          <p class="fs-8 fw-normal ls-xs-fs-8 text-neutral80">
                            已有 290 位同學加入
                          </p>
                        </div>
                        <div
                          class="progress mb-2"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="100"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <div class="d-flex column-gap-2">
                          <p class="fs-6 lh-lg-sm ls-xs-fs-6-lg ">NT$ 1,980</p>
                          <p
                            class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                          >
                            NT$ 3,200
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-lg-none py-6">
            <div class="course-pagination d-flex justify-content-center"></div>
          </div>

          <button
            class="d-block d-lg-none btn btn-primary100 rounded-3 py-4 w-100 ls-xs-fs-7"
          >
            更多募資課程
          </button>
        </div>
      </div>
    </section>
    <section class="recommend position-relative">
      <div
        class="container py-16 py-lg-18 position-relative z-3"
      >
        <h2 class="recommend-header text-lg-center fs-bold fs-1">
          看看大家都買了什麼
        </h2>
        <p class="mb-6 mb-lg-10 text-lg-center fw-medium fs-6">
          熱銷課程一次看！✨
        </p>
        <div class="recommend-swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card shadow-lg">
                <img
                  src="../assets/images/course-4.png"
                  class="card-img-top"
                  alt="course-img"
                />
                <div class="card-img-overlay">
                  <p
                    class="d-inline-block py-2 px-3 bg-alert10 text-alert100 rounded-pill fs-8 ls-xs-fs-8"
                  >
                    限時 8 折 🔥
                  </p>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                    創意寫作工坊：從靈感到出版的全過程
                  </h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt="card-img"
                        class="card-img-rounded me-2"
                      />
                      <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                    </div>
                    <div
                      class="d-flex flex-column justify-content-end text-end"
                    >
                      <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                      <p
                        class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                      >
                        NT$ 3,200
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent p-4">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex flex-column">
                      <div>
                        <a
                          class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                          href="#"
                          role="button"
                          >中文創作</a
                        >
                      </div>
                      <p class="fw-normal fs-8 ls-xs-fs-8">
                        已有 420 位同學加入
                      </p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                      <span class="me-1 fs-8 fw-medium">4.0</span>
                      <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card shadow-lg">
                <img
                  src="../assets/images/course-5.png"
                  class="card-img-top"
                  alt="course-img"
                />
                <div class="card-img-overlay">
                  <p
                    class="d-inline-block py-2 px-3 bg-alert10 text-alert100 rounded-pill fs-8 ls-xs-fs-8"
                  >
                    限時 8 折 🔥
                  </p>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                    小白也會！從零開始學習 Python 程式設計
                  </h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt="card-img"
                        class="card-img-rounded me-2"
                      />
                      <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                    </div>
                    <div
                      class="d-flex flex-column justify-content-end text-end"
                    >
                      <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                      <p
                        class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                      >
                        NT$ 3,200
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent p-4">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex flex-column">
                      <div>
                        <a
                          class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                          href="#"
                          role="button"
                          >程式開發</a
                        >
                      </div>
                      <p class="fw-normal fs-8 ls-xs-fs-8">
                        已有 420 位同學加入
                      </p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                      <span class="me-1 fs-8 fw-medium">4.0</span>
                      <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card shadow-lg">
                <img
                  src="../assets/images/course-6.png"
                  class="card-img-top"
                  alt="course-img"
                />
                <div class="card-img-overlay">
                  <p
                    class="d-inline-block py-2 px-3 bg-alert10 text-alert100 rounded-pill fs-8 ls-xs-fs-8"
                  >
                    限時 8 折 🔥
                  </p>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                    全面掌握 JavaScript 開發技術
                  </h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt="card-img"
                        class="card-img-rounded me-2"
                      />
                      <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                    </div>
                    <div
                      class="d-flex flex-column justify-content-end text-end"
                    >
                      <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                      <p
                        class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                      >
                        NT$ 3,200
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent p-4">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex flex-column">
                      <div>
                        <a
                          class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                          href="#"
                          role="button"
                          >程式開發</a
                        >
                      </div>
                      <p class="fw-normal fs-8 ls-xs-fs-8">
                        已有 420 位同學加入
                      </p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                      <span class="me-1 fs-8 fw-medium">4.0</span>
                      <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card shadow-lg">
                <img
                  src="../assets/images/course-7.png"
                  class="card-img-top"
                  alt="course-img"
                />
                <div class="card-body">
                  <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                    HTML & CSS 網頁設計基礎教程
                  </h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt="card-img"
                        class="card-img-rounded me-2"
                      />
                      <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                    </div>
                    <div
                      class="d-flex flex-column justify-content-end text-end"
                    >
                      <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                      <p
                        class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                      >
                        NT$ 3,200
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent p-4">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex flex-column">
                      <div>
                        <a
                          class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                          href="#"
                          role="button"
                          >程式開發</a
                        >
                      </div>
                      <p class="fw-normal fs-8 ls-xs-fs-8">
                        已有 420 位同學加入
                      </p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                      <span class="me-1 fs-8 fw-medium">4.0</span>
                      <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card shadow-lg">
                <img
                  src="../assets/images/course-8.png"
                  class="card-img-top"
                  alt="course-img"
                />
                <div class="card-body">
                  <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                    更進一步！深入學習 Node.js 與後端開發
                  </h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        src="../assets/images/avatar-2.png"
                        alt="card-img"
                        class="card-img-rounded me-2"
                      />
                      <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                    </div>
                    <div
                      class="d-flex flex-column justify-content-end text-end"
                    >
                      <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                      <p
                        class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                      >
                        NT$ 3,200
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-transparent p-4">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex flex-column">
                      <div>
                        <a
                          class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                          href="#"
                          role="button"
                          >程式開發</a
                        >
                      </div>
                      <p class="fw-normal fs-8 ls-xs-fs-8">
                        已有 420 位同學加入
                      </p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                      <span class="me-1 fs-8 fw-medium">4.0</span>
                      <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div
            class="recommend-btn-prev rounded-3 bg-light position-absolute top-50 start-0 z-1"
          >
            <a
              class="btn btn-outline-primary100 p-0 border border-0"
              href="#"
              role="button"
            >
              <i
                class="bi bi-arrow-left-short d-inline-block p-4 fs-5 lh-xs"
              ></i>
            </a>
          </div>
          <div
            class="recommend-btn-next rounded-3 bg-light position-absolute top-50 end-0 z-1"
          >
            <a
              class="btn btn-outline-primary100 p-0 border border-0"
              href="#"
              role="button"
              ><i
                class="bi bi-arrow-right-short d-inline-block p-4 fs-5 lh-xs"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </section>
    <section class="topics py-10 py-lg-18 px-3 px-lg-0">
      <div class="topics-bg bg-primary100">
        <div class="container">
          <div
            class="row flex-column flex-lg-row-reverse justify-content-lg-between py-16"
          >
            <div
              class="col-lg-5 d-flex flex-column justify-content-center mb-10 mb-lg-0 text-white"
            >
              <h2 class="fs-1 fw-bold">
                想學什麼嗎？<br />
                一探究竟。
              </h2>
              <img
                src="../assets/images/deco/line-2.png"
                alt="decoration-line"
              />
            </div>
            <div class="col-lg-6">
              <div class="swiper topics-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #ff994f"
                      >
                        <img
                          src="../assets/images/icons/megaphoneSimple.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">網路行銷</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          342 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #5e5e5e"
                      >
                        <img
                          src="../assets/images/icons/camera.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">拍攝剪輯</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          563 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #ff9bad"
                      >
                        <img
                          src="../assets/images/icons/chartBarHorizontal.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">自我成長</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          490 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #564ffd"
                      >
                        <img
                          src="../assets/images/icons/penNib.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">藝術設計</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          230 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #54dff2"
                      >
                        <img
                          src="../assets/images/icons/bugDroid.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">數據分析</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          395 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #52e9bc"
                      >
                        <img
                          src="../assets/images/icons/creditCard.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">投資理財</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          486 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #cf93ff"
                      >
                        <img
                          src="../assets/images/icons/headphones.png"
                          alt="megaphone"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-between"
                      >
                        <h5 class="topics-title fs-7">音樂創作</h5>
                        <p class="topics-text text-neutral30 fs-8 fw-normal">
                          283 門課程
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="topics-card d-flex bg-light p-5 rounded-4">
                      <div
                        class="topics-card-icon p-4 me-5"
                        style="background-color: #0068ff"
                      >
                        <img
                          src="../assets/images/icons/arrow.png"
                          alt="megaphone"
                          style="height: 32px; width: 32px"
                        />
                      </div>
                      <div
                        class="topics-card-text d-flex flex-column justify-content-center"
                      >
                        <h5 class="topics-title fs-7">探索更多</h5>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                  <div class="swiper-slide">Slide 4</div>
                  <div class="swiper-slide">Slide 5</div>
                  <div class="swiper-slide">Slide 6</div>
                  <div class="swiper-slide">Slide 7</div>
                  <div class="swiper-slide">Slide 8</div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="teacher">
      <div class="container position-relative z-3">
        <h2 class="text-lg-center fs-1 ls-xs-fs-1-lg z-1 fw-bold fw-lg-semibold">
          頂尖講師<span class="d-block d-lg-inline-block">帶你飛</span>
        </h2>
        <p class="text-lg-center fs-6 fs-lg-7 fw-medium fw-lg-normal text-neutral80">超真實學員評價，這些講師你絕對不能錯過！</p>
        <div class="teacher-swiper swiper mb-6">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card border border-0">
                <img
                  src="../assets/images/teacher-3.png"
                  class="card-img-top rounded-4 z-1"
                  alt="teacher-img"
                />
                <div class="card-body p-6 rounded-4 bg-light shadow-lg z-3">
                  <h5 class="card-title mb-6 fs-6 lh-sm ls-xs-fs-6-lg">Mr. Robert</h5>
                  <div class="d-flex align-items-center mb-2">
                    <a
                      class="btn btn-neutral40 py-2 me-2 fs-8 ls-xs-fs-8 link-neutral80"
                      href="#"
                      role="button"
                      >音樂創作</a
                    >
                    <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                    <span class="me-1 fs-8 fw-medium fw-lg-normal ls-xs-fs-8-lg">4.0</span>
                    <span class="text-neutral60 fw-8 fw-medium fw-lg-normal ls-xs-fs-8-lg">(333)</span>
                  </div>
                  <p class="card-text mb-6 fw-normal fs-8 fs-lg-7 ls-xs-fs-7-lg">
                    Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。
                  </p>
                  <a href="#" class="btn btn-primary100 py-4 d-block rounded-3 ls-xs-fs-7">探索 Mr. Robert 的教學課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border border-0">
                <img
                  src="../assets/images/teacher-1.png"
                  class="card-img-top rounded-4 z-1"
                  alt="teacher-img"
                />
                <div class="card-body p-6 rounded-4 bg-light shadow-lg z-3">
                  <h5 class="card-title mb-6 fs-6 lh-sm ls-xs-fs-6-lg">Kelly Beck</h5>
                  <div class="d-flex align-items-center mb-2">
                    <a
                      class="btn btn-neutral40 py-2 me-2 fs-8 ls-xs-fs-8 link-neutral80"
                      href="#"
                      role="button"
                      >英文寫作</a
                    >
                    <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                    <span class="me-1 fs-8 fw-medium fw-lg-normal ls-xs-fs-8-lg">4.8</span>
                    <span class="text-neutral60 fw-8 fw-medium fw-lg-normal ls-xs-fs-8-lg">(281)</span>
                  </div>
                  <p class="card-text mb-6 fw-normal fs-8 fs-lg-7 ls-xs-fs-7-lg">
                    Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。
                  </p>
                  <a href="#" class="btn btn-primary100 py-4 d-block rounded-3 ls-xs-fs-7">探索 Kelly Beck 的教學課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border border-0">
                <img
                  src="../assets/images/teacher-2.png"
                  class="card-img-top rounded-4 z-1"
                  alt="teacher-img"
                />
                <div class="card-body p-6 rounded-4 bg-light shadow-lg z-3">
                  <h5 class="card-title mb-6 fs-6 lh-sm ls-xs-fs-6-lg">K. Lee</h5>
                  <div class="d-flex align-items-center mb-2">
                    <a
                      class="btn btn-neutral40 py-2 me-2 fs-8 ls-xs-fs-8 link-neutral80"
                      href="#"
                      role="button"
                      >音樂創作</a
                    >
                    <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                    <span class="me-1 fs-8 fw-medium fw-lg-normal ls-xs-fs-8-lg">4.8</span>
                    <span class="text-neutral60 fw-8 fw-medium fw-lg-normal ls-xs-fs-8-lg">(1245)</span>
                  </div>
                  <p class="card-text mb-6 fw-normal fs-8 fs-lg-7 ls-xs-fs-7-lg">
                    K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！
                  </p>
                  <a href="#" class="btn btn-primary100 py-4 d-block rounded-3 ls-xs-fs-7">探索 K. Lee 的教學課程</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex d-lg-none">
          <div class="teacher-pagination d-flex justify-content-center"></div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
