<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning｜講師介紹</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="teacher-banner">
      <div class="container-fluid">
        <div class="teacher-banner-img"></div>
      </div>
    </section>
    <section class="teacher-banner-info">
      <div class="container pt-14 pb-12 pt-lg-16 pb-lg-17 position-relative">
        <div class="teacher-banner-icon position-absolute bg-light">
          <img
            src="../assets/images/icons/ic_ hexschool.png"
            alt="teacher-img"
            style="object-fit: cover; object-position: center"
          />
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-9">
            <h2
              class="mb-4 mb-lg-6 text-center text-lg-start fs-3 fs-lg-1 ls-xs-fs-3 ls-xs-fs-1-lg"
            >
              六角學院
            </h2>
            <div
              class="d-flex justify-content-center justify-content-lg-start mb-4 mb-lg-6"
            >
              <p class="px-3 fw-normal fs-8 fs-lg-7 ls-xs-fs-8 ls-xs-fs-7 fw-normal">
                <span class="me-1 text-primary100 fs-7 fs-lg-6 ls-xs-fs-7 ls-xs-fs-6-lg fw-semibold"
                  >4</span
                >堂課
              </p>
              <p
                class="px-3 fw-normal fs-8 fs-lg-7 ls-xs-fs-8 ls-xs-fs-7 fw-normal border-start border-neutral60"
              >
                <span class="me-1 text-primary100 fs-7 fs-lg-6 ls-xs-fs-7 ls-xs-fs-6-lg fw-semibold"
                  >8463</span
                >收藏數
              </p>
              <p
                class="px-3 fw-normal fs-8 fs-lg-7 ls-xs-fs-8 ls-xs-fs-7 fw-normal border-start border-neutral60"
              >
                <span class="me-1 text-primary100 fs-7 fs-lg-6 ls-xs-fs-7 ls-xs-fs-6-lg fw-semibold"
                  >20,218</span
                >個學生
              </p>
            </div>
            <p class="mb-4 mb-lg-6 fw-normal fs-8 fs-lg-7 ls-xs-fs-8 ls-xs-fs-7">
              六角學院 是一所線上程式開發學習單位，目前已累積 20,000
              名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。
              我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運
              Know how。
            </p>
            <ul class="d-flex list-unstyled justify-content-center justify-content-lg-start">
              <li class="me-4">
                <a href="#" class="d-block"><img src="../assets/images/icons/btn_line_neutral80.png" alt="line-img" class="social-icon social-icon-line rounded-circle"></a>
              </li>
              <li class="me-4">
                <a href="#" class="d-block"><img src="../assets/images/icons/btn_yt_neutral80.png" alt="yt-img" class="social-icon social-icon-yt rounded-circle"></a>
              </li>
              <li>
                <a href="#" class="d-block"><img src="../assets/images/icons/btn_fb_neutral80.png" alt="fb-img" class="social-icon social-icon-fb rounded-circle"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="teacher-course">
        <div class="container">
            <h2 class="fs-6 fs-lg-5 ls-xs-fs-6 ls-xs-fs-5-lg lh-sm mb-6"><span class="d-inline-block teacher-course-deco"></span>六角學院開的課</h2>
            <div class="teacher-course-swiper swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card shadow-lg">
                      <img
                        src="../assets/images/course-5.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-img-overlay">
                        <p
                          class="d-inline-block py-2 px-3 bg-alert10 text-alert100 rounded-pill fs-8 ls-xs-fs-8"
                        >
                          限時 8 折 🔥
                        </p>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                          小白也會！從零開始學習 Python 程式設計
                        </h5>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="d-flex align-items-center">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="card-img"
                              class="card-img-rounded me-2"
                            />
                            <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                          </div>
                          <div
                            class="d-flex flex-column justify-content-end text-end"
                          >
                            <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                            <p
                              class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                            >
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-transparent p-4">
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <div class="d-flex flex-column">
                            <div>
                              <a
                                class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                                href="#"
                                role="button"
                                >程式開發</a
                              >
                            </div>
                            <p class="fw-normal fs-8 ls-xs-fs-8">
                              已有 420 位同學加入
                            </p>
                          </div>
                          <div class="d-flex align-items-center">
                            <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                            <span class="me-1 fs-8 fw-medium">4.0</span>
                            <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card shadow-lg">
                      <img
                        src="../assets/images/course-6.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-img-overlay">
                        <p
                          class="d-inline-block py-2 px-3 bg-alert10 text-alert100 rounded-pill fs-8 ls-xs-fs-8"
                        >
                          限時 8 折 🔥
                        </p>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                          全面掌握 JavaScript 開發技術
                        </h5>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="d-flex align-items-center">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="card-img"
                              class="card-img-rounded me-2"
                            />
                            <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                          </div>
                          <div
                            class="d-flex flex-column justify-content-end text-end"
                          >
                            <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                            <p
                              class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                            >
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-transparent p-4">
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <div class="d-flex flex-column">
                            <div>
                              <a
                                class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                                href="#"
                                role="button"
                                >程式開發</a
                              >
                            </div>
                            <p class="fw-normal fs-8 ls-xs-fs-8">
                              已有 420 位同學加入
                            </p>
                          </div>
                          <div class="d-flex align-items-center">
                            <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                            <span class="me-1 fs-8 fw-medium">4.0</span>
                            <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card shadow-lg">
                      <img
                        src="../assets/images/course-7.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-body">
                        <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                          HTML & CSS 網頁設計基礎教程
                        </h5>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="d-flex align-items-center">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="card-img"
                              class="card-img-rounded me-2"
                            />
                            <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                          </div>
                          <div
                            class="d-flex flex-column justify-content-end text-end"
                          >
                            <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                            <p
                              class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                            >
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-transparent p-4">
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <div class="d-flex flex-column">
                            <div>
                              <a
                                class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                                href="#"
                                role="button"
                                >程式開發</a
                              >
                            </div>
                            <p class="fw-normal fs-8 ls-xs-fs-8">
                              已有 420 位同學加入
                            </p>
                          </div>
                          <div class="d-flex align-items-center">
                            <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                            <span class="me-1 fs-8 fw-medium">4.0</span>
                            <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card shadow-lg">
                      <img
                        src="../assets/images/course-8.png"
                        class="card-img-top"
                        alt="course-img"
                      />
                      <div class="card-body">
                        <h5 class="card-title mb-4 fs-6 ls-xs-fs-6">
                          更進一步！深入學習 Node.js 與後端開發
                        </h5>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="d-flex align-items-center">
                            <img
                              src="../assets/images/avatar-2.png"
                              alt="card-img"
                              class="card-img-rounded me-2"
                            />
                            <p class="fw-normal ls-xs-fs-7">Kelly Hsu</p>
                          </div>
                          <div
                            class="d-flex flex-column justify-content-end text-end"
                          >
                            <p class="fw-bold fs-6 text-primary100">NT$ 2,480</p>
                            <p
                              class="text-decoration-line-through fs-8 fw-normal text-neutral70"
                            >
                              NT$ 3,200
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-transparent p-4">
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <div class="d-flex flex-column">
                            <div>
                              <a
                                class="btn btn-neutral40 mb-1 py-1 fw-normal fs-8 ls-xs-fs-8"
                                href="#"
                                role="button"
                                >程式開發</a
                              >
                            </div>
                            <p class="fw-normal fs-8 ls-xs-fs-8">
                              已有 420 位同學加入
                            </p>
                          </div>
                          <div class="d-flex align-items-center">
                            <i class="bi bi-star-fill me-1" style="color: #F6BD2B;font-size: 12px;"></i>
                            <span class="me-1 fs-8 fw-medium">4.0</span>
                            <span class="text-neutral70 fw-8 fw-medium">(333)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
